*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --firstColor:#1977cc;
  --secandColor:#2c4964;
  --textColor: rgb(146, 146, 146);
}
.bar{
  width: 100%;
  position: fixed;
}
.icons{
  width: 20px;
}
.item>i>.icons{
  width: 40px;
}
a{
  text-decoration: none;
}
li{list-style: none;}
.backgroundHeader{
  width: 100%;
  height: 100vh;
  background-image: url("/img/hero-bg.jpg");
  background-position: center;
  background-size: cover; 
  position: fixed;
  z-index: -1;
}
header{
  width: 100%;
  height: 100vh;
  position: relative;
}
/* start header contact*/
.bar{
  width:100%;
  position: fixed;
  z-index:10000;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(248, 248, 248);
  padding:10px 10%;
  box-shadow: 0px 0px 10px rgba(226, 235, 252, 0.74);
  
}
.header>.contact>a{
  color: #1f374d;
  cursor: pointer;
}
/* end header contact*/

/* start nav*/
nav{
  font-family: "Poppins","Lato",serif;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  background-color: white;
  z-index:1000;
}
nav>h1{
  font-size: xx-large;
  font-weight: 600;
  text-transform: capitalize;
  color:var(--secandColor);
  cursor: pointer;
}
nav>ul{
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 0;
}
nav>ul>li{
  margin: 25px 0px 25px 20px;
  font-weight: 400;
}
nav>ul>li>a{
  font-family: "Roboto";
  font-size: 16px;
  text-transform: capitalize;
  color: rgb(146, 146, 146);
}
ul>li>a::after{
  content: '';
  width: 0%;
  height: 2px;
  position: relative;
  display: block;
  background:var(--firstColor);
  transition: .5s;

}
ul>li>a:hover{
  color: var(--firstColor);
}
ul>li>a:hover::after{
  width: 100%;
}
.btn{
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  font-weight: 300;
  text-transform: capitalize;
  background-color: var(--firstColor);
  color: #fff;
  cursor:pointer;
}
/* end nav*/

/* start banner*/

.banner{
  width: 100%;
  padding: 20px 10% 20px 10%;
  margin-bottom: 20px;
  position: absolute;
  top: 200px;
  font-family: "Poppins","lato",sans-serif;
  
  z-index: 1;
}
.banner>h2{
  color: var(--secandColor);
  font-size: 50px;
  margin-bottom: 10px;
}
.banner>p{
  color: var(--secandColor);
  font-size: 20px;
  margin-bottom: 30px;
}
.get_started{
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 35px;
  border-radius: 40px;
}
/* end banner*/

/* start cards*/
.cards{
  width: 100%;
  padding: 20px 10% 20px 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins","Roboto",sans-serif;
  position: absolute;
  top: 450px;
}

.cards>.item{
  height: 350px;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 0px 0px 10px  #73869744;
}
.cards>.item>i{
  margin: 50px 10px;
}
.cards>.item>h2{
  font-size: 20px;
  margin-top:10px;
  color: #1f374d;
}
.cards>.item>p{
  color: var(--textColor);
}
.cards>.item1{
  background-color:var(--firstColor);
  width: 100%;
  border-radius: 5px;
  padding: 30px;
  text-align: start;
  color: white;
}
.cards>.item1>h2{
  font-size: 35px;
  margin: 20px 0px;
}

.cards>.item1>p{
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
}
.learn_more{
  background-color: #398ad1;
  margin-left: 25%;
  transition: .5s;
}
.learn_more>img{
  width: fit-content;
  padding: 0;
  margin: 0;
}
.learn_more:hover{
  background-color: white;
  color: var(--firstColor);
}
.cards>.item>p{
  margin: 20px 0px;
  font-weight: 400;
}
/* end cards*/

/*  start about  */

  .about{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Poppins";
  }
  .about>.tescrition{
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-top: 600px;
    padding-bottom:200px;
  }
  .about>.tescrition>img{
    width: 50%;
    transform: scale(1.3);
    margin-left: -60px;
    margin-right: 130px;
  }
  .about>.tescrition>.text{
    width: 50%;
  }
  .about>.tescrition>.text>h3{
    font-size: 25px;
    color: var(--secandColor);
    font-family: "Poppins";
    font-weight: 300i;
    margin-bottom: 10px;
  }
  .about>.tescrition>.text>P{
    font-size: 16px;
    color: #2c4964c9;
    margin-bottom: 40px;
  }
 
  .about>.tescrition>.text>ul>li{
    margin-bottom: 20px;
  }
  .about>.tescrition>.text>ul>li>img{
    width: 60px;
    height: 60px;
    border: solid 2px var(--firstColor);
    color: var(--firstColor);
    padding: 10px;
    border-radius: 30px;
    transition: .5s;
  }
  .about>.tescrition>.text>ul>li>img:hover{
    background-color: var(--firstColor);
    color: #fff;
  }
  /*estilizar com pseudoclass
  .about>.text>ul>li:{}*/
  .about>.tescrition>.text>ul>li>h4{
    margin-bottom: 7px;
    color: rgb(6, 9, 26);
  }
  .about>.tescrition>.text>ul>li>p{
    font-size: 15px;
  }

  .cards2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 60px 10%;
    background-color: #f1f7fd;
  }
  .cards2>aside{
    width: 25%;
    margin-left: 30px;
    background-color: #fff;
    text-align: center;
    position: relative;
  }
  .cards2:first-child{
    margin-left: 0;
  }
  .cards2>aside>i>img{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    padding: 10px;
    background-color:var(--firstColor);
    position: absolute;
    left:calc(50% - 30px);
    top: -30px;
  }
  .cards2>aside>h2{
    font-size: 30px;
    padding-top: 40px ;
  }
  .cards2>aside>p{
    margin-bottom: 20px;
  } 
/*  end about  */